RaceManager/RaceManager.Client/Connected Services/RaceService/RaceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaceManager.Server.Service.Core.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaceManager.Server.Service.Core.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RaceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RaceDTO" nillable="true" type="tns:RaceDTO" />
  <xs:complexType name="ArrayOfRaceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceDTO" nillable="true" type="tns:RaceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaceDTO" nillable="true" type="tns:ArrayOfRaceDTO" />
</xs:schema>