RaceManager/RaceManager.Client/Connected Services/VehicleService/VehicleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaceManager.Server.Service.Core.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaceManager.Server.Service.Core.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VehicleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EngineDisplacement" type="xs:double" />
      <xs:element minOccurs="0" name="EngineHorsepower" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleDTO" nillable="true" type="tns:VehicleDTO" />
  <xs:complexType name="ArrayOfVehicleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleDTO" nillable="true" type="tns:VehicleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleDTO" nillable="true" type="tns:ArrayOfVehicleDTO" />
</xs:schema>